# Broker Configuration - Supports Fyers, Zerodha
# should be one of -  fyers, zeodha
BROKER_NAME=<INPUT_YOUR_BROKER_NAME>
BROKER_API_KEY=<INPUT_YOUR_API_KEY>
BROKER_API_SECRET=<INPUT_YOUR_API_SECRET>
BROKER_LOGIN_MODE='auto' # manual or auto - fyers works only with 'auto' for now
BROKER_ID=<INPUT_YOUR_BROKER_ID>
BROKER_TOTP_REDIDRECT_URI=<INPUT_YOUR_TOTP_REDIRECT_URI>
BROKER_TOTP_KEY=<INPUT_YOUR_TOTP_KEY>
BROKER_TOTP_PIN=<INPUT_YOUR_TOTP_PIN> # Required for fyers, not zerodha
BROKER_PASSWORD=<INPUT_YOUR_BROKER_PASSWORD> # Required for zerodha, not fyers

# Paper Trading Configuration
PAPER_LIVE_BROKER=zerodha
PAPER_INITIAL_CASH=100000.0
PAPER_COMMISSION_RATE=0.001
PAPER_SLIPPAGE_RATE=0.0005

# Telegram Configuration
TELEGRAM_BOT_TOKEN=<INPUT_YOUR_TELEGRAM_BOT_TOKEN>
TELEGRAM_CHAT_IDS=<INPUT_YOUR_TELEGRAM_CHAT_IDS>
